<div id="carousel" class="carousel" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-hero">
        <img src="images/bokken_5th_form.jpg" height="690" width="1059" alt="First slide">
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Aikido Gi Yu Jin</h1>
          <p>We are a Ki Aikido Club based at Bellahouston Sports Centre in Glasgow.</p>
        </div>
      </div>
    </div>
  </div>
</div>