<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="images/sensei_wilson.jpg" alt="Sensei Wilson" style="width: 140px; height: 140px;">
    <h2>Our Sensei</h2>
    <p>Sensei Wilson</p>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div>
  <div class="col-lg-4">
    <img class="img-circle" src="https://maps.googleapis.com/maps/api/staticmap?center=55.8462190,-4.3242190&zoom=12&size=140x140&maptype=roadmap&markers=color:red%7C55.8462190,-4.3242190&style=feature:road.arterial%7Celement:geometry.fill%7Cvisibility:on%7Ccolor:0xffffff" alt="Map" style="width: 140px; height: 140px;">
    <h2>Practice Times</h2>
    <p>Bellahouston Sports Centre on Tuesday from 8.15 to 9.15pm and Friday from 8 to 9pm.</p>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="images/round_mail_icon.jpg" alt="Round Mail Icon" style="width: 140px; height: 140px;">
    <h2>Contact</h2>
    <p>Email Us aikido.gi.yu.jin@gmail.com</p>
    <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
  </div><!-- /.col-lg-4 -->
</div>