<!-- Three columns of text below the carousel -->
<div id="circles" class="row">
  <div id="our_sensei" class="col-lg-4">
    <img class="img-circle" src="images/sensei_wilson.jpg" alt="Sensei Wilson" style="width: 140px; height: 140px;">
    <h2>Our Sensei</h2>
    <p>Sensei Jim Wilson, 3rd Dan</p>
  </div>
  <div id="practice_times" class="col-lg-4">
    <a target="_blank" href="https://www.google.co.uk/maps/place/Glasgow+Club+Bellahouston/@55.846187,-4.324166,17z/data=!4m2!3m1!1s0x4888461a8453bc9f:0xb647f258023c5070"><img class="img-circle" src="https://maps.googleapis.com/maps/api/staticmap?center=55.8462190,-4.3242190&zoom=12&size=140x140&maptype=roadmap&markers=color:red%7C55.8462190,-4.3242190&style=feature:road.arterial%7Celement:geometry.fill%7Cvisibility:on%7Ccolor:0xffffff" alt="Map" style="width: 140px; height: 140px;"></a>
    <h2>Practice Times</h2>
    <p>Tuesday 8.15 to 9.15pm and Friday 8 to 9pm.</p>
  </div><!-- /.col-lg-4 -->
  <div id="contact" class="col-lg-4">
    <a href="mailto:aikido.gi.yu.jin@gmail.com?subject=Aikido Enquiry"><img class="img-circle" src="images/round_mail_icon.jpg" alt="Round Mail Icon" style="width: 140px; height: 140px;"></a>
    <h2>Contact</h2>
    <p><a href="mailto:aikido.gi.yu.jin@gmail.com?subject=Aikido Enquiry">aikido.gi.yu.jin@gmail.com</a></p>
  </div><!-- /.col-lg-4 -->
</div>