<h2 class="featurette-heading">Demonstrations <span class="text-muted">See for yourself</span></h2>
<p class="lead above">We can come to your sports or social club to show you what Aikido is all about.  We'll even let your kids throw our black belts around. Please <a href="mailto:aikido.gi.yu.jin@gmail.com?subject=Aikido Demonstration">send us an email</a> to find out more.
</p>


