<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; <%= Time.now.strftime("%Y") %> Aikido Gi Yu Jin. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
