<div class="container-fluid">
  <div class="row social">
    <div class="col-md-6 text-right">
      <div class="fb-like" data-href="https://www.facebook.com/bellaikido" data-width="300" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
    <div class="col-md-6 text-left">
<a href="https://twitter.com/AikidoGiYuJin" class="twitter-follow-button" data-show-count="false">Follow @AikidoGiYuJin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>
    </div>
  </div>
</div>