<div class="container-fluid">
  <div class="row social">
    <div class="col-md-12 text-center">
      <div class="fb-like" data-href="https://www.facebook.com/bellaikido" data-width="300" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</div>