<h2 class="featurette-heading">Is Aikido For Me? <span class="text-muted">Try it!</span></h2>
<p class="lead above">Aikido a Japanese martial art for self defence. We use a variety of locks and throws to control our attackers but unlike the better-known Japanese art of Judo we stay on our feet and don't wrestle on the mat.  It is great for women and men of all ages and we work in small practice groups so everyone can learn at their own pace.  Your first class is free.  <a href="mailto:aikido.gi.yu.jin@gmail.com?subject=I would like to try Aikido">Email us</a> if you would like to give it a try.
</p>


