<h2 class="featurette-heading below">Try it! <span class="text-muted">Everyone is welcome</span></h2>
<p class="lead">Aikido is suitable for women and men of all ages. Please <a href="mailto:aikido.gi.yu.jin@gmail.com?subject=I would like to try Aikido">email us</a> if you would like to give it a try.
</p>


