<h2 class="featurette-heading">Watch <span class="text-muted">A class</span></h2>
<p class="lead above">This video was taken at a class in May by one of our members. We started, as always, a warm up before moving on to a Ki development called Koho Tento Undo (rolling exercise).  After a while we broke up into groups and spent the rest of the class working on our techniques for the grading which was fast approaching at the time.  Finally we finished by shaking hands and thanking each other for the practice.
</p>


