<h2 class="featurette-heading">Watch <span class="text-muted">A Class</span></h2>
<p class="lead above">This video was taken at a class in May by one of our members. We started, as always, a warm up and then we moved on to a Ki development exercise called Koho Tento Undo (rolling exercise).  After a while we broke up into groups and spent the rest of the class working on our techniques for the grading which was a couple of weeks away.  Finally we finished by showing respect and gratitude to each other by shaking hands and thanking one another for the practice.
</p>


