---
title: Home
---
<%= partial "sections/circles" %>

<hr class="featurette-divider">

<div id="suitable_for_all_feature" class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <%= partial "sections/suitable_for_all_feature" %>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="images/andy_and_marie.jpg" data-holder-rendered="true">
  </div>
</div>

<hr class="featurette-divider">

<div id="typical_class_feature" class="row featurette">
  <div class="col-md-5">
    <%= partial "sections/typical_class" %>
  </div>
  <div class="col-md-7">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="http://www.youtube.com/embed/eGn0lMxNKpU?autoplay=0&origin=http://aikidoclubglasgow.com"
        frameborder="0">
      </iframe>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div id="demos_feature" class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <%= partial "sections/demos_feature" %>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="images/stuart_at_bb.jpg" data-holder-rendered="true">
  </div>
</div>

<hr class="featurette-divider last">

<!-- /END THE FEATURETTES -->