---
title: Home
---
<%= partial "sections/circles" %>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <%= partial "sections/aikido_feature" %>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="images/osensei.jpg" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="images/stuart_at_bb.jpg" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Demonstrations.<span class="text-muted">See for yourself.</span></h2>
          <p class="lead">We can come to see you.</p>
        </div>
      </div>
<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->